#include "resource.h"

#include <WinRes.h>

IDD_ASSERT DIALOGEX 0, 0, 443, 265
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Assert"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Break",IDC_BREAK,237,244,63,14
    PUSHBUTTON      "Skip",IDC_SKIP,305,244,62,14
    PUSHBUTTON      "Skip Forever",IDC_SKIP_FOREVER,373,244,63,14
    EDITTEXT        IDC_MESSAGE,7,7,429,232,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Copy",IDC_COPY_MESSAGE,7,244,63,14
END
