#include "resource.h"

#include <WinRes.h>

IDD_ERROR DIALOGEX 0, 0, 443, 265
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Error"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Break",IDC_BREAK,373,244,63,14
    EDITTEXT        IDC_MESSAGE,7,7,424,232,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Copy",IDC_COPY_MESSAGE,7,244,63,14
END
