#include "resource.h"

#include <WinRes.h>

IDD_ASSERT DIALOGEX 0, 0, 443, 265
STYLE DS_SETFONT | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Assert"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Break",IDC_ASSERT_BREAK,237,244,63,14
    PUSHBUTTON      "Skip",IDC_ASSERT_SKIP,305,244,62,14
    PUSHBUTTON      "Skip Forever",IDC_ASSERT_SKIP_FOREVER,373,244,63,14
    EDITTEXT        IDC_ASSERT_MESSAGE,7,7,429,232,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Copy",IDC_ASSERT_COPY_MESSAGE,7,244,63,14
END

IDD_ERROR DIALOGEX 0, 0, 443, 265
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Error"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Break",IDC_ERROR_BREAK,373,244,63,14
    EDITTEXT        IDC_ERROR_MESSAGE,7,7,424,232,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Copy",IDC_ERROR_COPY_MESSAGE,7,244,63,14
END
